<%- include('./partials/navbar') -%>

    <div class="mainForum container">
        <div class="forumPost">
            <h2 class="forumPostTitle">
                <%= posts.title %>
            </h2>
            <div class="forumPostSub">
                <%= posts.submittedBy.name %>, <%- posts.date %>
            </div>
            <hr>
            <div class="forumPostBody">
                <%= posts.body %>
            </div>

        </div>

        <div class="comments">

                <% if ( posts.comments.length> 0) {%>
                    <% posts.comments.forEach(post=> { %>
                        <div class="commentReply">
                        <div class="commentReplyTitle">
                            <%= post.submittedBy.name %> on <%= post.date %>
                        </div>
                        <div class="commentReplyBody">
                            Body: <%= post.body %>
                        </div>
                        <hr>

                        <% }) %>
                            <% } else { %>
                                <p>There are no replies to this post.</p>
                                <% } %>

            </div>
        </div>



            <div class="addNewComment">
                <form class="form-group text-center" method="POST" action="/post/<%= posts._id %>/comments">
                    <textarea name="commentBody" class="form-control"  placeholder="Leave a comment here!"></textarea>
                    <button type="submit" class="btn btn-primary btn-block">Comment</button>
                </form>
            </div>
        </div>
    </div>