<%- include('./partials/navbar') -%>
<div class="mainForum customContainer">
    <h2>Dogs</h2>
<% if (posts.length> 0) {%>
    <% posts.forEach(post=> { %>
        <div class="forumPost">
            <h3 class="forumPostSnip">
                <a href="/post/<%= post._id %>">
                    <%= post.title %> <%= post.subCategory %>
                </a>
                <p><%= post.submittedBy %>, <%- post.date %> 
                </p>
                <p>(<%- post.comments.length %>) comments</p> 
            </h3>

        </div>
        <% }) %>
            <% } else { %>
                <p>There are no posts to display...</p>
                <% } %>
            </div>
</div>

<%- include('./partials/footer') -%>