<%- include('./partials/navbar') -%>
    <div class="mainForum container">
        <h2 class="text-center">Other</h2>
        <% if (posts.length> 0) {%>
            <% posts.forEach(post=> { %>
                <div class="forumPost">
                    <h3 class="forumPostTitle">
                        <a href="/post/<%= post.id %>"> <%= post.title %> </a>
                    </h3>
                    <div class="forumPostSub"> Posted by: <%= post.submittedBy %>
                    </div>
                    <div class="forumPostBody">
                        <%= post.body %>
                    </div>
                    
                    
                </div>
                <% }) %>
                    <% } else { %>
                        <p>There are no posts to display...</p>
                        <% } %>

        
    </div>

<%- include('./partials/footer') -%>